/*loading 动画*/

.spinner {
	margin: 20px auto 0;
	width: 150px;
	text-align: center;
}

.spinner > div {
	width: 10px;
	height: 10px;
	background-color: #BBBBBB;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0.0)
	}
	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	40% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
/*
 * 菜单按钮动画
 */
@-webkit-keyframes trans
			/* Safari and Chrome */
			
			{
				from {
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					/* Internet Explorer */
					-moz-transform: rotate(0deg);
					/* Firefox */
					-webkit-transform: rotate(9deg);
					/* Safari 和 Chrome */
					-o-transform: rotate(0deg);
					/* Opera */
				}
				to {
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					/* Internet Explorer */
					-moz-transform: rotate(90deg);
					/* Firefox */
					-webkit-transform: rotate(90deg);
					/* Safari 和 Chrome */
					-o-transform: rotate(90deg);
					/* Opera */
				}
			}
			
			@-webkit-keyframes backtrans
			/* Safari and Chrome */
			
			{
				from {
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					/* Internet Explorer */
					-moz-transform: rotate(90deg);
					/* Firefox */
					-webkit-transform: rotate(90deg);
					/* Safari 和 Chrome */
					-o-transform: rotate(90deg);
					/* Opera */
				}
				to {
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					/* Internet Explorer */
					-moz-transform: rotate(0deg);
					/* Firefox */
					-webkit-transform: rotate(0deg);
					/* Safari 和 Chrome */
					-o-transform: rotate(0deg);
					/* Opera */
				}
			}
			
			.trans {
				animation: trans 1s ease forwards;
				-moz-animation: trans 1s ease forwards;
				/* Firefox */
				-webkit-animation: trans 300ms ease forwards;
				/* Safari and Chrome */
				-o-animation: trans 1s ease forwards;
				/* Opera */
			}
			
			.transback {
				animation: backtrans 1s ease forwards;
				-moz-animation: backtrans 1s ease forwards;
				/* Firefox */
				-webkit-animation: backtrans 300ms ease forwards;
				/* Safari and Chrome */
				-o-animation: backtrans 1s ease forwards;
				/* Opera */
			}
.hot a {
	display: inline-block;
	margin: 3px 10px;
}
.time a{
	display: inline-block;
}
/*导航栏颜色*/
.mui-bar-nav,.menu,.mui-table-view-cell:after{
	background-color: #33cccc;/*改这个颜色值就可以啦*/
}
/*导航栏图标和文字颜色*/
.mui-bar-nav h1,.mui-icon,.menu .mui-table-view-cell>a:not(.mui-btn){
	color: white;/*改这个颜色值就可以啦*/
}
.mui-navigate-right:after{
	color: #FFF;
}
.text{
	margin-top: 5px;
	/*max-height: 42px;*/
	 white-space: normal; 
	 /*overflow: hidden;*/
}
.mui-media-body .time{
	text-align: right;
}
